<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Premium</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">

<!-- button panel -->
  <div class="panel panel-default" ng-if="!access">
    <div class="panel-body">
      <legend>Not A Premium User?</legend>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" ng-click="open()">Unlock Guides</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal template -->
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Enter Your Credit Card Information</h3>
      <h4 class="modal-title">Your card will be charged $9.99</h4>
    </div>
      <div class="modal-body">
        <form stripe-form="stripeCallback">
            <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
            <input ng-model="expiry" placeholder="Expiration" payments-format="expiry"payments-validate="expiry"/>
            <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
              <button class="btn btn-default" id="submit-btn" type="submit" data-dismiss="modal">Submit</button>
          </form>
      </div>
    <div class="modal-footer">
      <button class="btn btn-warning" id="cancel-btn" type="button" data-dismiss="modal" ng-click="cancel()">Cancel</button>
      <div class="pull-left">Card processing powered by <strong>Stripe&reg;</strong></div>
      </div>
    </div>
  </script>

  <!-- User information panel -->
  <div class="panel panel-default" ng-if="access">
    <div class="panel-body">
      <legend>Goal Guides</legend>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="guide in guides">
          <div class="row">
            <div class="col-md-12">
              <a href="{{ guide.file }}" target="_target"><img class="img-thumbnail" ng-src="{{ guide.icon }}"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>{{ guide.name }}</h5>
              <h6>By {{ guide.author }}</h6>
              <p>{{ guide.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-if="access">
    <div class="panel-body">
      <legend>Goal Visualization</legend>
      <div class="row" ng-repeat="goal in user.goals">
        <div class="col-md-12">
          <h5>{{ goal.title }}</h5>
          <div class="row">
            <!-- <div class="col-md-2">
              <img ng-src="{{ goal.icon }}">
            </div> -->
            <div class="col-md-10">
              <uib-progressbar class="progress-striped active" max="getDataMax(goal)" value="goal.posts.length"></uib-progressbar>
            </div>
          </div>
          <p>Total posts: {{ goal.posts.length }} | Days Elapsed: {{ getDataMax(goal) || 0 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
