<h1>Main</h1>
<input type="text" class="search" autofocus placeholder="Search your list of friends" ng-model="search" />
<h2>My Goals</h2>
<ul>
  <li ng-repeat="goal in user.goals | orderBy:'updatedAt' | limitTo:3">
    <div class="goal">
      <div>
        <span class="goalname">Goal: {{goal.title}}</span>
      </div>
      <div>
        <span class="description">Description: {{goal.description}}</span>
      </div>
        <span>Your last post for this goal was </span><span class="date" am-time-ago="goal.updatedAt">{{goal.updatedAt}}</span><span>.</span>
      <div>
        <span class="date">Due Date: {{goal.due_date | amCalendar}}</span>
      </div>
      <ul>
        <li ng-repeat="post in goal.posts | orderBy:'-updatedAt' | limitTo:1">
          <div class="post">
            <span class="latestPost">Latest Post: {{post.post}}</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
<h2>Inactive Friends Activity</h2>
<ul>
  <li ng-repeat="friend in friends | filter:search | orderBy:'lastname'">
    <div class="friend">
      <span class="name">{{friend.firstname}} {{friend.lastname}} {{friend.username}}</span>
      <span>Your friend's last update was </span><span am-time-ago="friend.latestPost.updatedAt">{{friend.latestPost.updatedAt}}</span><span>.</span>
      <div class="latestPost">
        <span class="goalTitle">{{friend.latestPost.goalTitle}}</span>
        <span class="goalPost">{{friend.latestPost.post}}</span>
      </div>
      <p>
    </div>
  </li>
</ul>
<h2>All Activity</h2>
<ul>
  <li ng-repeat="post in posts | filter:search | orderBy:'-updatedAt'">
    <div class="friend">
      <span class="name">{{post.friend.firstname}} {{post.friend.lastname}} {{post.friend.username}}</span>
      <span>Posted </span><span am-time-ago="post.updatedAt">{{post.updatedAt}}</span><span>.</span>
      <div class="latestPost">
        <span class="goalTitle">{{post.goalTitle}}</span>
        <span class="goalPost">{{post.post}}</span>
        <ul>
          <li ng-repeat="comment in post.comments | orderBy:'-updatedAt'">
            <div class="comment">
              <div>{{comment.firstname}} {{comment.lastname}}<p>{{comment.comment}}</p></div>
              <span class="date" am-time-ago="comment.createdAt">{{post.createdAt}}</span>
            </div>
          </li>
        </ul>
        <a class="addComment" ng-click="isAddCommentOpen = !isAddCommentOpen">Add comment?</a>
        <form ng-show="isAddCommentOpen"
          ng-submit="addComment(post._id, post.goal_id, input.comment, post.friend.auth_id);
            input.comment = ''; ">
          <br>
          <input name="newComment" type="text" placeholder="Write comment here..." ng-model="input.comment">
          <input type="submit" value="Submit" />
          <br>
        </form>
      </div>
      <p>
    </div>
  </li>
</ul>