<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Premium</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">
 <!-- payment panel -->
  <div class="panel panel-default">
    <div class="panel-body">
      <legend>Not A Premium User?</legend>
      <div class="row">
        <div class="col-md-12">
          <form stripe-form="stripeCallback">
            <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
            <input ng-model="expiry" placeholder="Expiration" payments-format="expiry"payments-validate="expiry"/>
            <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
              <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- User information panel -->
  <div class="panel panel-default">

    <div class="panel-body">
      <legend>Goal Guides</legend>
      <div class="row">
        <div class="col-md-4 col-sm-12" ng-repeat="guide in guides">
          <div class="row">
            <div class="col-md-12">
              <a href="{{ guide.file }}"><img class="img-responsive" ng-src="{{ guide.icon }}"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>{{ guide.name }}</h5>
              <h6>By {{ guide.author }}</h6>
              <p>{{ guide.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <legend>Goal Visualization</legend>
      <div class="row" ng-repeat="goal in user.goals">
        <div class="col-md-12">
          <h5>{{ goal.title }}</h5>
          <div class="row">
            <!-- <div class="col-md-2">
              <img ng-src="{{ goal.icon }}">
            </div> -->
            <div class="col-md-10">
              <uib-progressbar class="progress-striped active" max="getDataMax(goal)" value="goal.posts.length"></uib-progressbar>
            </div>
          </div>
          <p>Total posts: {{ goal.posts.length }} | Days Elapsed: {{ getDataMax(goal) || 0 }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
