<h1>Friends</h1>
<a class="addFriend" ng-click="isAddFriendOpen = !isAddFriendOpen">Add Friend?</a>
<form ng-show="isAddFriendOpen" ng-submit="searchFriend()">
  <br>
  <label for="title">First Name:</label>
  <input name="firstname" type="text" ng-model="input.firstname">
  <br>
  <label for="lastname">Last Name:</label>
  <input name="lastname" type="text" ng-model="input.lastname">
  <br>
  <label for="email">Email:</label>
  <input name="email" type="text" ng-model="input.email">
  <br>
  <label for="username">Username:</label>
  <input name="username" type="text" ng-model="input.username">
  <br>
  <label for="friend_id">ID:</label>
  <input name="friend_id" type="text" ng-model="input.friend_id">
  <br>
  <input type="submit" value="Submit" />
</form>
<div ng-show="isAddFriendOpen">
  <ul>
    <li ng-repeat="user in searchData.users | limitTo: 10 | orderBy:'lastname'">
      <div class="user">
        <span class="name">{{user.firstname}} {{user.lastname}} {{user.username}} {{ user.auth_id}}</span>
        <button class="addfriend" ng-click="addFriend(user.user_id)">Add?</button>
      </div>
    </li>
  </ul>
  <div class="friendReqSent" ng-show="showSubmitted">
    <p>Friend request submitted!</p>
  </div>
</div>
<div ng-show="isPending">
  <h3>Pending Friend Requests</h3>
  <ul>
    <li ng-repeat="pending in user.pending | orderBy:'lastname'">
      <div class="pending">
        <span class="name">{{pending.firstname}} {{pending.lastname}}</span>
        <button class="acceptFriend" ng-click="answerFriendReq(true)">Accept?</button>
        <button class="declineFriend" ng-click="answerFriendReq(false)">Decline?</button>
      </div>
    </li>
  </ul>
</div>
<div></div>
<input type="text" class="search" autofocus placeholder="Search your list of friends" ng-model="search" />
<ul>
  <li ng-repeat="friend in user.friends | filter:search | orderBy:'lastname'">
    <div class="friend">
      <span class="name">{{friend.firstname}} {{friend.lastname}}</span>
      <button class="removefriend" ng-click="removeFriend(friend.user_id)">Remove</button>
    </div>
  </li>
</ul>