<section id="landing">
  <div class="signinContainer">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <div id="signin">
          <h1 class="CTA">Start Achieving Your Goals Today!</h1>
          <p><a class="btn btn-primary btn-xlg" ng-click="auth.signin()">Sign in / Create Account</a></p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>

<section id="divider">
  <div class="textContainer text-center">
    <div class="row">
      <div class="col-md-3 col-md-offset-1-and-half infoBox">
        <h3 class="text-uppercase ">GOALS</h3>
        <p class="small">Set your goals. Add friends to follow their progress and share your achievements.</p>
      </div>
      <div class="col-md-3 infoBox">
        <h3 class="text-uppercase text-center">ACCOUNTABILITY</h3>
        <p>We'll let your friends know how you are getting on by alerting them if you are not keeping up!
        </p>
      </div>
      <div class="col-md-3 infoBox">
        <h3 class="text-uppercase text-center">SUCCESS</h3>
        <p>With your friend's accountability and support its easier than ever to achieve your goals.</p>
      </div>
    </div>
  </div>
</section>

  Help Me,
  Help Me.