<!-- Navigation sidebar with links to ui-states for profile, main feed, goals, friends, premium, and sign out -->
<div class="nav-sidebar list-group table-of-contents">
  <a ui-sref="app.profile" class="list-group-item">
    Profile
    <img class="icon" src="{{icon}}" alt="">
  </a>
  <a ui-sref="app.main" class="list-group-item">Main</a>
  <a ui-sref="app.goals" class="list-group-item">Goals</a>
  <a ui-sref="app.friends" class="list-group-item">Friends</a>
  <a ui-sref="app.premium" class="list-group-item">Premium</a>  
  <a href="#" ng-click="logout()" class="sign-out list-group-item">Sign Out</a>
</div>

<!-- Where content partials will be injected -->
<div class="content" ui-view></div>
