<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Friends</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">
  <!-- Form panel for searching for new friends -->
  <div class="panel panel-default">
    <form class="panel-body" ng-submit="searchFriend()">
      <legend>Find Friend</legend>
      <div class="row">
        <div class="col-md-9">
          <input class="form-control" type="text" ng-model="input.search"
            placeholder="Search">
        </div>
        <div class="col-md-3 before-btn">
          <input class="btn btn-primary pull-right" type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </div>

  <!-- User panels resulting from database search with button for adding friend -->
  <div class="panel panel-default"
    ng-repeat="user in searchData.users | limitTo: 10 | orderBy:'lastname'">
    <div class="panel-body">
      <div class="row">
        <span class="col-md-9">
          {{user.firstname}} {{user.lastname}} ({{user.username}})</span>
        <div class="col-md-3">
          <button class="btn btn-primary pull-right" ng-click="addFriend(user.auth_id)">Add Friend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Message confirming friend request submission -->
  <div class="friendReqSent" ng-show="showSubmitted">
    <p>Friend request submitted!</p>
  </div>

  <!-- Panels displaying pending friend requests sent by other users -->
  <div ng-show="isPending">
    <legend>Pending Friend Requests</legend>
    <div class="panel panel-default"
      ng-repeat="pending in user.pending | orderBy:'lastname'">
      <!-- Panel body with friend name and buttons for accepting and declining request -->
      <div class="panel-body">
        <div class="row">
          <span class="col-md-9">
            {{pending.friend.firstname}} {{pending.friend.lastname}} ({{pending.friend.username}})
          </span>
          <div class="col-md-3">
            <button class="btn btn-primary pull-right"
              ng-click="answerFriendReq(pending.friend.auth_id, true)">Accept</button>
            <button class="btn btn-primary pull-right"
              ng-click="answerFriendReq(pending.friend.auth_id, false)">Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <legend>Friends</legend>
  <!-- Panels for each of the user's existing friends -->
  <div class="panel panel-default"
    ng-repeat="friend in user.friends | orderBy:'lastname'">
    <!-- Panel body with link to friend's profile and button to remove friend -->
    <div class="panel-body">
      <div class="row">
        <a class="col-md-9" ui-sref="app.viewfriend({ friendID: friend.friend.auth_id })">
          {{friend.friend.firstname}} {{friend.friend.lastname}} ({{friend.friend.username}})</a>
        <div class="col-md-3">
          <button class="btn btn-primary pull-right" ng-click="removeFriend(friend.friend.auth_id)">Remove</button>
        </div>
      </div>
    </div>
  </div>

</div>
