<div class="navbar navbar-inverse">
  <h2 class="header">Profile</h2>
</div>

<div>
  <h4>Details</h4>
  <p>{{friend.info.firstname}} {{friend.info.lastname}}</p>
  <p>Username: {{friend.info.username}}</p>
</div>

<ul>
  <li ng-repeat="goal in friend.goals | orderBy:'updatedAt' | filter:search">
    <div class="goal">
      <span class="title">Goal: {{goal.title}}</span>
      <p class="description">Description: {{goal.description}}</p>
      <span class="date">Due Date: {{goal.due_date | amCalendar}}</span>
    </div>
  </li>
</ul>

<div class="col-lg-8">
  <div ng-repeat="post in friend.posts | orderBy:'-createdAt'" class="post panel panel-primary">
    <label class="label label-primary">Goal: {{post.goalTitle}}</label>
    <p class="title panel-body">{{post.post}}</p>
    <div class="date panel-footer">
      <span>Posted </span>
      <span am-time-ago="post.createdAt">{{post.createdAt}}</span>
    </div>
    <div ng-repeat="comment in post.comments | orderBy:'-updatedAt'">
      <div class="comment">
        <div>{{comment.firstname}} {{comment.lastname}}<p>{{comment.comment}}</p></div>
        <span class="date" am-time-ago="comment.createdAt">{{post.createdAt}}</span>
      </div>
    </div>
    <form name="commentForm"
      ng-submit="addComment(post._id, post.goal_id, input.comment[$index]);
        input.comment[$index] = ''; ">
      <input ng-model="input.comment[$index]" placeholder="Write a comment..."></input>
    </form>
  </div>
</div>
