<h1>Main</h1>
<input type="text" class="search" autofocus placeholder="Search your list of friends" ng-model="search" />
<h2>My Goals</h2>
<ul>
  <li ng-repeat="goal in user.goals | orderBy:'updatedAt' | limitTo:3">
    <div class="goal">
      <div>
        <span class="goalname">Goal: {{goal.title}}</span>
      </div>
      <div>
        <span class="description">Description: {{goal.description}}</span>
      </div>
        <span>Your last post for this goal was </span><span class="date" am-time-ago="goal.updatedAt">{{goal.updatedAt}}</span><span>.</span>
      <div>
        <span class="date">Due Date: {{goal.due_date | amCalendar}}</span>
      </div>
      <ul>
        <li ng-repeat="post in goal.posts | orderBy:'-updatedAt' | limitTo:1">
          <div class="post">
            <span class="latestPost">Latest Post: {{post.post}}</span>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
<h2>Inactive Friends Activity</h2>
<ul>
  <li ng-repeat="friend in friends | filter:search | orderBy:'lastname'">
    <div class="friend">
      <span class="name">{{friend.firstname}} {{friend.lastname}} {{friend.username}}</span>
      <span>Your friend's last update was </span><span am-time-ago="friend.latestPost.updatedAt">{{friend.latestPost.updatedAt}}</span><span>.</span>
      <div class="latestPost">
        <span class="goalTitle">{{friend.latestPost.goalTitle}}</span>
        <span class="goalPost">{{friend.latestPost.post}}</span>
      </div>
      <p>
    </div>
  </li>
</ul>