<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Main</h3>
</div>

<!-- Container for the rest of the page -->
<div class="content-body">
  <!-- Toggle for collapsing recent goals panels -->
  <a ng-click="isRecentGoalsClosed = !isRecentGoalsClosed">
    <legend class="section-toggle">Recent Goals</legend>
  </a>
  <!-- Collapsible group of recent goal status panels -->
  <div class="panel panel-default" uib-collapse="isRecentGoalsClosed"
    ng-repeat="goal in user.goals | orderBy:'-updatedAt' | limitTo:3">
    <!-- Panel heading with goal title and date of last update -->
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8">Goal: {{goal.title}}</div>
        <div class="col-md-4">
          <span class="date">
            Updated <span am-time-ago="goal.lastUpdate">{{goal.lastUpdate}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- Panel body alert with goal status, due date, latest post for given goal -->
    <div class="alert" ng-class="{true: 'alert-danger', false: 'alert-success'}[goal.warn]">
      <div class="row">
        <label class="col-md-2">Status:</label>
        <div class="col-md-10">{{goal.status}}</div>
      </div>
      <div class="row">
        <label class="col-md-2">Due Date:</label>
        <div class="col-md-10">{{goal.due_date | amCalendar}}</div>
      </div>
      <div class="row">
        <label class="col-md-2">Latest Post:</label>
        <div class="col-md-10" ng-repeat="post in goal.posts | orderBy:'-updatedAt' | limitTo:1">
          {{post.post}}</div>
      </div>
    </div>
  </div>

  <!-- Toggle for collapsing update form panel -->
  <a ng-click="isUpdateGoalsClosed = !isUpdateGoalsClosed">
    <legend class="section-toggle">Update Goal</legend>
  </a>
  <!-- Collapsible form panel for submitting goal update posts -->
  <div class="panel panel-default" uib-collapse="isUpdateGoalsClosed">
    <form class="panel-body" ng-submit="addPost()">
      <!-- Goal selection input -->
      <div class="row">
        <label class="col-md-2 control-label" for="goalSelect">Goal to Update:</label>
        <div class="col-md-8">
          <!-- Populates drop-down list of goals -->
          <select class="form-control" id="goalSelect" ng-model="input.selected"
            ng-options="goal.title for goal in user.goals track by goal._id">
          </select>
        </div>
      </div>
      <br>
      <!-- Text input for update post -->
      <div class="row">
        <div class="col-md-9">
          <input class="form-control" type="text" ng-model="input.post"
            placeholder="Any progress lately? Share an update!">
        </div>
        <div class="col-md-3 before-btn">
          <input class="btn btn-primary pull-right" type="submit" value="Add Post" />
        </div>
      </div>
    </form>
  </div>

  <!-- Toggle for collapsing inactive friends panels -->
  <a ng-click="isInactiveFriendsClosed = !isInactiveFriendsClosed">
    <legend class="section-toggle">Inactive Friends Activity</legend>
  </a>
  <!-- Collapsible group of inactive friends panels -->
  <div class="panel panel-default" uib-collapse="isInactiveFriendsClosed"
    ng-repeat="friend in friends | orderBy:'lastname'">
    <!-- Panel heading with link to friend's profile and date of last update -->
    <div class="panel-heading">
      <div class="row">
        <a class="col-md-8" ui-sref="app.viewfriend({ friendID: friend.auth_id })">
          {{friend.firstname}} {{friend.lastname}}</a>
        <div class="col-md-4">
          <span class="date">
            Updated
            <span am-time-ago="friend.latestPost.updatedAt"> {{friend.latestPost.updatedAt}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- Panel body alert with friend's goal status and latest post -->
    <div class="alert" ng-class="{true: 'alert-danger', false: 'alert-success'}[friend.warn]">
      <div class="row">
        <label class="col-md-2">Status:</label>
        <div class="col-md-10">{{friend.status}}</div>
      </div>
      <div class="row">
        <label class="col-md-2">Latest Post:</label>
        <div class="col-md-10">
          <strong>(Goal: {{friend.latestPost.goalTitle}}) </strong>
          {{friend.latestPost.post}}
        </div>
      </div>
    </div>
  </div>

  <legend>All Activity</legend>
  <!-- Live search panel for filtering friend's posts -->
  <div class="panel panel-default">
    <div class="panel-body">
      <input class="form-control" type="text"
        placeholder="Search your posts" ng-model="search" />
    </div>
  </div>

  <!-- Panels for latest goal update posts from all friends -->
  <div class="panel panel-primary"
    ng-repeat="post in posts | filter:search | orderBy:'-updatedAt' | limitTo:15">
    <!-- Panel heading with link to friend's profile and post date -->
    <div class="panel-heading">
      <div class="row">
        <a class="friend-name-white col-md-4"
          ui-sref="app.viewfriend({ friendID: post.friend.auth_id })">
          {{post.friend.firstname}} {{post.friend.lastname}}</a>
        <div class="col-md-8">
          <span class="date" am-time-ago="post.updatedAt">
            {{post.updatedAt}}
          </span>
        </div>
      </div>
    </div>
    <!-- Panel body with post text and toggle for collapsing comment display -->
    <div class="panel-body">
      <label><strong>Goal: {{post.goalTitle}}</strong></label>
      <div class="post-text">{{post.post}}</div>
      <a class="comment-toggle" ng-click="isAddCommentClosed = !isAddCommentClosed">
        {{post.comments.length}} Comments</a>
    </div>
    <!-- Panel footer with collapsible comments and comment input form -->
    <div class="panel-footer">
      <!-- Collapsible group of comments -->
      <div class="comments-all" uib-collapse="isAddCommentClosed">
        <div class="comment row" ng-repeat="comment in post.comments | orderBy:'-updatedAt'">
          <div class="comment-name col-md-4">{{comment.firstname}} {{comment.lastname}}</div>
          <div class="col-md-9">{{comment.comment}}</div>
          <div class="col-md-3">
            <span class="date" am-time-ago="comment.createdAt">{{post.createdAt}}</span>
          </div>
        </div>
      </div>
      <!-- Comment input form -->
      <div>
        <form name="commentForm"
          ng-submit="addComment(post._id, post.goal_id, input.comment[$index], post.friend.auth_id);
            input.comment[$index] = '';"
          class="row">
          <div class="col-md-10">
            <input class="form-control" ng-model="input.comment[$index]"
              placeholder="Write a comment..." />
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
