<!-- Fixed header -->
<div class="navbar navbar-inverse">
  <h3 class="header-text">Premium</h3>
</div>


<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_e5dLh5KY2HToKtUUXoryc4rj"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>


<!-- Container for the rest of the page -->
<div class="content-body">
  <!-- User information panel -->
  <div class="panel panel-default">
    <div class="panel-body">
      <legend>Goal Guides</legend>
      <div class="row">
        <div class="col-md-4" ng-repeat="guide in guides">
          <div class="row">
            <img ng-src="{{ guide.src }}" class="col-md-12">
          </div>
          <div class="row">
            <h5 class="col-md-12">{{ guide.title }}</h5>
          </div>
          <div class="row">
            <p class="col-md-12">{{ guide.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>