@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

// Importing Bootswatch Theme "Paper"
@import "variables";
@import "bootstrap";
@import "bootswatch";

* {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  border-radius: 0;
}

.nav-sidebar {
  display: none;
}

@media (min-width: 768px) {
  .nav-sidebar {
    @include make-sm-column(3);
    @include make-md-column(2);
    position: fixed;
    font-size: 17px;
    padding: 0;
    display: block;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    box-shadow: 5px 0px 25px 0px rgba(0,0,0,0.25);
  }
}

.content {
  @include make-sm-column(9);
  @include make-sm-column-offset(3);
  @include make-md-column(10);
  @include make-md-column-offset(2);
}

.content-body {
  @include make-sm-column(9);
  @include make-md-column(6);
  margin-top: 85px;
}

.navbar-inverse {
  position: fixed;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0 0 0 0;
  z-index: 500;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  float: right;
}

.header-text {
  color: white;
  margin-left: 30px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.post-text {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.control-label {
  padding-top: 7px;
}

.list-group-item {
  font-size: 17.5px;
}

.section-toggle:hover {
  opacity: 0.7;
}

.comment-toggle {
  float: right;
}

.comments-all {
}

.comment {
  margin-top: 15px;
  margin-bottom: 5px;
}

.comment-name {
  font-weight: bold;
}

.friend-name-white {
  color: white;
}

span.date {
  font-weight: 300;
  font-size: 14px;
  float: right;
}

textarea {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

[ui-view] {
  position: absolute;
  width: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  transition: all 0.9s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  transform: translate3d(500px, 0, 0);
}

#landing {
  color: white;
  background: url(//cdn.wistia.com/assets/free/free-new-pattern-ba392cfae92f42c129cd1bff10696d66.png);
  background-color: #3ea9f5;
  background-repeat: repeat;
  background-size: 75%;
  height: 580px;
  position: relative;
}

.btn-xlg {
padding: 18px 28px;
font-size: 22px; //change this to your desired size
line-height: normal;
-webkit-border-radius: 8px;
   -moz-border-radius: 8px;
        border-radius: 8px;
}

.signinContainer {
  position: relative;
  top: 14%;
}

.textContainer {
  position: relative;
  top: 12%;
    float: none;
    margin: 0 auto;
}

#divider {
  height: 300px;
}

.logo {
  position: relative;
  top: 3%;
  left: 3%;
}

.CTA {
  color: white;
}

.infoBox {
  border-right: 5px;
  border-left: 5px;
}

.col-md-offset-1-and-half {
  margin-left: 12.49%;
}

.copyright {
  left: 50%;
  font-size: .8em
}
#signin {
  background-color: #3ea9f5;
  padding: 10px 20px 40px;
}